* {
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homeBtn {
  padding: 5px 15px;
}

.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  margin-left: 1rem;
}

.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-right: 1rem;
  height: 60px;
  cursor: pointer;
}

#clearBtn {
  padding: 5px 15px;
}

.history-text {
  text-align: center;
  margin: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}
.tableContains {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}
